# Source: https://github.com/arduino/tooling-project-assets/blob/main/workflow-templates/test-go-task.md
name: Test Go

env:
  # See: https://github.com/actions/setup-go/tree/main#supported-version-syntax
  GO_VERSION: "1.21"

# See: https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows
on:
  create:
  push:
    paths:
      - ".github/workflows/test-go-task.ya?ml"
      - "codecov.ya?ml"
      - "**/go.mod"
      - "**/go.sum"
      - "Taskfile.ya?ml"
      - "**.go"
      - "**/testdata/**"
  pull_request:
    paths:
      - ".github/workflows/test-go-task.ya?ml"
      - "codecov.ya?ml"
      - "**/go.mod"
      - "**/go.sum"
      - "Taskfile.ya?ml"
      - "**.go"
      - "**/testdata/**"
  workflow_dispatch:
  repository_dispatch:

jobs:
  run-determination:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.determination.outputs.result }}
    steps:
      - name: Determine if the rest of the workflow should run
        id: determination
        run: |
          RELEASE_BRANCH_REGEX="refs/heads/[0-9]+.[0-9]+.x"
          # The `create` event trigger doesn't support `branches` filters, so it's necessary to use Bash instead.
          if [[ \
            "${{ github.event_name }}" != "create" || \
            "${{ github.ref }}" =~ $RELEASE_BRANCH_REGEX \
          ]]; then
            # Run the other jobs.
            RESULT="true"
          else
            # There is no need to run the other jobs.
            RESULT="false"
          fi

          echo "::set-output name=result::$RESULT"

  test:
    name: test (${{ matrix.module.path }} - ${{ matrix.operating-system }})
    needs: run-determination
    if: needs.run-determination.outputs.result == 'true'

    strategy:
      fail-fast: false

      matrix:
        operating-system:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        module:
          - path: ./
            codecov-flags: unit

    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          version: 3.x

      - name: Run tests
        env:
          GO_MODULE_PATH: ${{ matrix.module.path }}
        run: task go:test

      - name: Send unit tests coverage to Codecov
        if: runner.os == 'Linux' && github.repository == 'arduino/pluggable-discovery-protocol-handler'
        uses: codecov/codecov-action@v3
        with:
          # A token is used to avoid intermittent spurious job failures caused by rate limiting.
          token: d2497f03-291d-4e0c-9d31-d94614ed7c16
          file: ${{ matrix.module.path }}coverage_unit.txt
          flags: ${{ matrix.module.codecov-flags }}
          fail_ci_if_error: true

      - name: Send unit tests coverage to Codecov (run from a fork)
        if: runner.os == 'Linux' && github.repository != 'arduino/pluggable-discovery-protocol-handler'
        uses: codecov/codecov-action@v3
        with:
          # use repository variable CODECOV_TOKEN if running from a fork.
          # codecov/codecov-action does unauthenticated upload if empty string is passed via the `token` input.
          token: ${{ vars.CODECOV_TOKEN }}
          file: ${{ matrix.module.path }}coverage_unit.txt
          flags: ${{ matrix.module.codecov-flags }}
          fail_ci_if_error: false
